/* more styles to section */
@import '4-style.css';
@import '6-style.css';

:root {
  --section-tagline-transform: uppercase;
}

.section-tagline {
  font-family: var(--font-family-title);
  text-transform: var(--section-tagline-transform);
  font-weight: var(--font-weight-bold);
}
