:root {
  --nav-item-font-family: var(--font-family-title);
  --nav-item-font-weight: var(--font-weight-bold);
  --nav-item-font-size: var(--font-size-medium);
  --nav-item-letter-spacing: 4%;
  --nav-item-display: inline-block;
  --nav-item-margin: 0 0 calc(3 * var(--root-element)) 0;
  --nav-item-link-hover: var(--color-primary);
}

.navbar-menu {
  float: right;
}

nav {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav .nav-item {
  font-family: var(--nav-item-font-family);
  font-weight: var(--nav-item-font-weight);
  font-size: var(--nav-item-font-size);
  letter-spacing: var(--nav-item-letter-spacing);
  display: var(--nav-item-display);
  margin: var(--nav-item-margin);
}

nav .nav-link {
  display: block;
  padding: var(--root-element) var(--root-element) var(--root-element) var(--root-element);
}

nav .nav-link:hover {
  color: var(--nav-item-link-hover);
}
