:root {
  --button-display: inline-block;
  --button-padding: 1.5rem 3rem;
  --button-border: 0.2rem solid var(--color-primary);
  --button-color: var(--color-black);
  --button-text-decoration: none;
  --button-font-size: var(--font-size-large);
  --button-hover-color: var(--color-white);
  --button-hover-text-decoration: none;
  --button-hover-background: var(--color-primary);
}

.button {
  display: var(--button-display);
  padding: var(--button-padding);
  border: var(--button-border);
  color: var(--button-color);
  text-decoration: var(--button-text-decoration);
  font-size: var(--button-font-size);
}

.button:hover {
  color: var(--button-hover-color);
  text-decoration: var(--button-hover-text-decoration);
  background: var(--button-hover-background);
}

[data-section-theme="dark"] {
  --button-color: var(--color-white);
}
