/* Styling & custom nav */
nav-item-link-hover {
  color: var(--color-white);
}

nav-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 0;
  height: 20%;
}

nav-link:hover:before {
  background-color: var(--color-primary);
  width: 100%;
}
