/* Styling & custom nav */
.nav-link::before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 0;
  height: 20%;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-item-link-hover {
  color: var(--color-white);
}
